<html>
<head>
    <title>Pi Remote Control</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="/static/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="/static/jquery-2.1.0.min.js"></script>
    <script src="/static/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    
    <script src="/static/remote.js"></script>

    <script>
$( document ).bind( "mobileinit", function() {
    $.mobile.allowCrossDomainPages = true;
    $.mobile.touchOverflowEnabled = true;
});    
    </script>
    
    <style>
circle, text, path {cursor: pointer;}
svg {width: 100%; height: 100%;}
    </style>

</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
