{% extends "base.html" %}
{% block body %}
<div data-role="page" data-title="Register" id="events">
    <!--script type="text/javascript">
    $( '#devices' ).live( 'pagebeforeshow',function(event,data){
        eventPage(event,data);
    });
    </script-->
    <div data-role="header" data-theme="b">
        <h1>Pi Remote Control</h1>
    </div>
    <div data-role="content">
        <ul id="d-list" data-role="listview" data-inset="true" data-filter="true" data-dividertheme="a">
            <li data-role="list-divider">Devices</li>
            {% for d in devices %}
                <li id="device{{ d['id'] }}"><a href="device/{{ d.id }}" data-transition="flip" >{{ d['name'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}


